{% load static %}
<!-- {% block content%} -->
<head>
    <title>Amara</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}" />
</head>
<body>
    <h1>Welcome to Amara</h1>
    <br/>
    <form id="ajax_form" method="post">{% csrf_token %}
        {{form.as_p}}
            <input type="submit" value="Register"  style="margin-top: 2rem;"/>
        </p>
    </form>
    <table id="table_data" style="position: relative; top: 40px; left: 50px">
        <tr>
            <th style="background-color: aquamarine;">Customer Name</th>
            <th style="background-color: rgb(189, 196, 193);">Email Address</th>
            <th style="background-color: rgb(178, 218, 86);">Subscription Type</th>
        </tr>
        {% for sub in complete_subscriptions %}
        <tr>
            <td>{{sub.name}}</td>
            <td>{{sub.email}}</td>
            <td>{{sub.subscription}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
<!-- {% endblock %} -->

{% block javascripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/subscribe.js' %}"></script>
{% endblock javascripts %}