{% load static %}
{% block content%}
<head>
    <title>Amara</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}" />
</head>
<body>
    <h1>Welcome to Amara</h1>
    <br/>
    <form id="ajax_form" onsubmit="execute_ajax();return false" method="post" action="">{% csrf_token %}
        <p>
            <label>Customer Name:</label>
            <input type="text" id="name" name="name" size="25" required/>
        </p>
        <p>
            <label>Email:</label>
            <input type="text" id="email" name="email" size="25" required/>
        </p>
        <p>
            <label>Subscription Type: </label>
            <input list="subscriptions" id="input_subscriptions" name="subscriptions" size="25" required/>
            <datalist id="subscriptions">
                <option value="Free">
                <option value="Paid">
                <option value="Pro">
            </datalist>
            <br/><br/>
            <input type="submit" value="Register" style="margin-left: -85%" />
        </p>
    </form>
    <table id="table_data" style="position: relative; top: 40px; left: 50px">
        <tr>
            <th>Customer Name</th>
            <th>Email Address</th>
            <th>Subscription Type</th>
        </tr>
    </table>
</body>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
let complete_subscriptions = JSON.parse(" {{ complete_subscriptions | escapejs}} ".replace(/'/g,"\""));
let table_data = document.getElementById("table_data");
for (let i in complete_subscriptions) {
    let row = document.createElement("TR");
    row.className = "item";
    let name = document.createElement("TD");
    let email = document.createElement("TD");
    let subscriptions = document.createElement("TD");
    name.appendChild(document.createTextNode(complete_subscriptions[i].fields.name));
    email.appendChild(
        document.createTextNode(complete_subscriptions[i].fields.email)
    );
    subscriptions.appendChild(
        document.createTextNode(complete_subscriptions[i].fields.subscriptions)
    );
    row.appendChild(name);
    row.appendChild(email);
    row.appendChild(subscriptions);
    table_data.appendChild(row);
}
</script>

<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script type="text/javascript" src="{% static 'js/axios.js' %}"></script>

{% endblock javascripts %}