body {
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 0.875rem;
    font-weight: 300;
    font-stretch: extra-expanded;
	background-color: rgb(14, 1, 37);
}

#ajax_form {
    margin-left: 35%;
    display: table;
    font-size: 1.2rem;
}

p { 
    display: table-row;  
}

label { 
    display: table-cell; 
}

input { 
    display: table-cell;
}


#table_data {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 95%;
	text-align: center;
	font-size: 15px;
	table-layout: auto;
}
#table_data td,
#table_data th {
	border: 1px solid #ddd;
	padding: 8px;
}

#table_data th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: rgb(14, 1, 37);
	color: white;
	font-size: 18px;
	width: auto;
}